.modal-content {
  position: relative;
  background-color: rgb(28, 25, 23);
  margin: auto;
  padding: 0;

  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 61%), 0 6px 20px 0 rgb(0 0 0 / 50%);
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 98vw; /* Ensure modal fits within viewport width */
  max-height: 98vh; /* Ensure modal fits within viewport height */
}

.modal-content img {
  object-fit: contain;
}

.modal-content .fit-image {
  object-fit: contain;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
